{
  "openapi": "3.1.0",
  "info": {
    "title": "Official NBA Stats API",
    "version": "1.0.0",
    "description": "OpenAPI documentation for the nba.stats.com and data.nba.com",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "contact": {
      "name": "Abhi Agarwal"
    }
  },
  "servers": [
    {
      "url": "https://stats.nba.com/stats"
    }
  ],
  "tags": [
    {
      "name": "nba",
      "description": "Endpoints available in the NBA stats website"
    },
    {
      "name": "wnba",
      "description": "Endpoints available only in the WNBA stats website"
    }
  ],
  "paths": {
    "/alltimeleadersgrids": {
      "get": {
        "summary": "AllTimeLeadersGrids",
        "operationId": "AllTimeLeadersGrids",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PerMode"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/TopX"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PerMode": {
                          "const": "$request.query.PerMode"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "TopX": {
                          "const": "$request.query.TopX"
                        }
                      }
                    },
                    "resource": {
                      "const": "alltimeleadersgrids"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/ASTLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/BLKLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/DREBLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FG3ALeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FG3MLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FG3_PCTLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FGALeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FGMLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FG_PCTLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FTALeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FTMLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/FT_PCTLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/GPLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/OREBLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/PFLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/PTSLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/REBLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/STLLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/TOVLeaders"
                        }
                      ],
                      "minItems": 19,
                      "maxItems": 19
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/assistleaders": {
      "get": {
        "summary": "AssistLeaders",
        "operationId": "AssistLeaders",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PerMode"
          },
          {
            "$ref": "#/components/parameters/PlayerOrTeam"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PerMode": {
                          "const": "$request.query.PerMode"
                        },
                        "PlayerOrTeam": {
                          "const": "$request.query.PlayerOrTeam"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        }
                      }
                    },
                    "resource": {
                      "const": "assistleaders"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/AssistLeaders"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/assisttracker": {
      "get": {
        "summary": "AssistTracker",
        "operationId": "AssistTracker",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/College"
          },
          {
            "$ref": "#/components/parameters/Conference"
          },
          {
            "$ref": "#/components/parameters/Country"
          },
          {
            "$ref": "#/components/parameters/DateFrom"
          },
          {
            "$ref": "#/components/parameters/DateTo"
          },
          {
            "$ref": "#/components/parameters/Division"
          },
          {
            "$ref": "#/components/parameters/DraftPick"
          },
          {
            "$ref": "#/components/parameters/DraftYear"
          },
          {
            "$ref": "#/components/parameters/GameScope"
          },
          {
            "$ref": "#/components/parameters/Height"
          },
          {
            "$ref": "#/components/parameters/LastNGames"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Location"
          },
          {
            "$ref": "#/components/parameters/Month"
          },
          {
            "$ref": "#/components/parameters/OpponentTeamID"
          },
          {
            "$ref": "#/components/parameters/Outcome"
          },
          {
            "$ref": "#/components/parameters/PORound"
          },
          {
            "$ref": "#/components/parameters/PerMode"
          },
          {
            "$ref": "#/components/parameters/PlayerExperience"
          },
          {
            "$ref": "#/components/parameters/PlayerPosition"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonSegment"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/StarterBench"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          },
          {
            "$ref": "#/components/parameters/VsConference"
          },
          {
            "$ref": "#/components/parameters/VsDivision"
          },
          {
            "$ref": "#/components/parameters/Weight"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "College": {
                          "const": "$request.query.College"
                        },
                        "Conference": {
                          "const": "$request.query.Conference"
                        },
                        "Country": {
                          "const": "$request.query.Country"
                        },
                        "DateFrom": {
                          "const": "$request.query.DateFrom"
                        },
                        "DateTo": {
                          "const": "$request.query.DateTo"
                        },
                        "Division": {
                          "const": "$request.query.Division"
                        },
                        "DraftPick": {
                          "const": "$request.query.DraftPick"
                        },
                        "DraftYear": {
                          "const": "$request.query.DraftYear"
                        },
                        "GameScope": {
                          "const": "$request.query.GameScope"
                        },
                        "Height": {
                          "const": "$request.query.Height"
                        },
                        "LastNGames": {
                          "const": "$request.query.LastNGames"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Location": {
                          "const": "$request.query.Location"
                        },
                        "Month": {
                          "const": "$request.query.Month"
                        },
                        "OpponentTeamID": {
                          "const": "$request.query.OpponentTeamID"
                        },
                        "Outcome": {
                          "const": "$request.query.Outcome"
                        },
                        "PORound": {
                          "const": "$request.query.PORound"
                        },
                        "PerMode": {
                          "const": "$request.query.PerMode"
                        },
                        "PlayerExperience": {
                          "const": "$request.query.PlayerExperience"
                        },
                        "PlayerPosition": {
                          "const": "$request.query.PlayerPosition"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonSegment": {
                          "const": "$request.query.SeasonSegment"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "StarterBench": {
                          "const": "$request.query.StarterBench"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        },
                        "VsConference": {
                          "const": "$request.query.VsConference"
                        },
                        "VsDivision": {
                          "const": "$request.query.VsDivision"
                        },
                        "Weight": {
                          "const": "$request.query.Weight"
                        }
                      }
                    },
                    "resource": {
                      "const": "assisttracker"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/AssistTracker"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscoreadvancedv2": {
      "get": {
        "summary": "BoxScoreAdvancedV2",
        "operationId": "BoxScoreAdvancedV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EndPeriod"
          },
          {
            "$ref": "#/components/parameters/EndRange"
          },
          {
            "$ref": "#/components/parameters/GameID"
          },
          {
            "$ref": "#/components/parameters/RangeType"
          },
          {
            "$ref": "#/components/parameters/StartPeriod"
          },
          {
            "$ref": "#/components/parameters/StartRange"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "EndPeriod": {
                          "const": "$request.query.EndPeriod"
                        },
                        "EndRange": {
                          "const": "$request.query.EndRange"
                        },
                        "GameID": {
                          "const": "$request.query.GameID"
                        },
                        "RangeType": {
                          "const": "$request.query.RangeType"
                        },
                        "StartPeriod": {
                          "const": "$request.query.StartPeriod"
                        },
                        "StartRange": {
                          "const": "$request.query.StartRange"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscoreadvancedv2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/PlayerStats"
                        },
                        {
                          "$ref": "#/components/schemas/TeamStats"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscorefourfactorsv2": {
      "get": {
        "summary": "BoxScoreFourFactorsV2",
        "operationId": "BoxScoreFourFactorsV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EndPeriod"
          },
          {
            "$ref": "#/components/parameters/EndRange"
          },
          {
            "$ref": "#/components/parameters/GameID"
          },
          {
            "$ref": "#/components/parameters/RangeType"
          },
          {
            "$ref": "#/components/parameters/StartPeriod"
          },
          {
            "$ref": "#/components/parameters/StartRange"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "EndPeriod": {
                          "const": "$request.query.EndPeriod"
                        },
                        "EndRange": {
                          "const": "$request.query.EndRange"
                        },
                        "GameID": {
                          "const": "$request.query.GameID"
                        },
                        "RangeType": {
                          "const": "$request.query.RangeType"
                        },
                        "StartPeriod": {
                          "const": "$request.query.StartPeriod"
                        },
                        "StartRange": {
                          "const": "$request.query.StartRange"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscorefourfactorsv2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/sqlPlayersFourFactors"
                        },
                        {
                          "$ref": "#/components/schemas/sqlTeamsFourFactors"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscoremiscv2": {
      "get": {
        "summary": "BoxScoreMiscV2",
        "operationId": "BoxScoreMiscV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EndPeriod"
          },
          {
            "$ref": "#/components/parameters/EndRange"
          },
          {
            "$ref": "#/components/parameters/GameID"
          },
          {
            "$ref": "#/components/parameters/RangeType"
          },
          {
            "$ref": "#/components/parameters/StartPeriod"
          },
          {
            "$ref": "#/components/parameters/StartRange"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "EndPeriod": {
                          "const": "$request.query.EndPeriod"
                        },
                        "EndRange": {
                          "const": "$request.query.EndRange"
                        },
                        "GameID": {
                          "const": "$request.query.GameID"
                        },
                        "RangeType": {
                          "const": "$request.query.RangeType"
                        },
                        "StartPeriod": {
                          "const": "$request.query.StartPeriod"
                        },
                        "StartRange": {
                          "const": "$request.query.StartRange"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscoremiscv2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/sqlPlayersMisc"
                        },
                        {
                          "$ref": "#/components/schemas/sqlTeamsMisc"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscoreplayertrackv2": {
      "get": {
        "summary": "BoxScorePlayerTrackV2",
        "operationId": "BoxScorePlayerTrackV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameID": {
                          "const": "$request.query.GameID"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscoreplayertrackv2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/PlayerStats"
                        },
                        {
                          "$ref": "#/components/schemas/TeamStats"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscorescoringv2": {
      "get": {
        "summary": "BoxScoreScoringV2",
        "operationId": "BoxScoreScoringV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EndPeriod"
          },
          {
            "$ref": "#/components/parameters/EndRange"
          },
          {
            "$ref": "#/components/parameters/GameID"
          },
          {
            "$ref": "#/components/parameters/RangeType"
          },
          {
            "$ref": "#/components/parameters/StartPeriod"
          },
          {
            "$ref": "#/components/parameters/StartRange"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "EndPeriod": {
                          "const": "$request.query.EndPeriod"
                        },
                        "EndRange": {
                          "const": "$request.query.EndRange"
                        },
                        "GameID": {
                          "const": "$request.query.GameID"
                        },
                        "RangeType": {
                          "const": "$request.query.RangeType"
                        },
                        "StartPeriod": {
                          "const": "$request.query.StartPeriod"
                        },
                        "StartRange": {
                          "const": "$request.query.StartRange"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscorescoringv2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/sqlPlayersScoring"
                        },
                        {
                          "$ref": "#/components/schemas/sqlTeamsScoring"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscoresimilarityscore": {
      "get": {
        "summary": "BoxScoreSimilarityScore",
        "operationId": "BoxScoreSimilarityScore",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Person1Id"
          },
          {
            "$ref": "#/components/parameters/Person1LeagueId"
          },
          {
            "$ref": "#/components/parameters/Person1Season"
          },
          {
            "$ref": "#/components/parameters/Person1SeasonType"
          },
          {
            "$ref": "#/components/parameters/Person2Id"
          },
          {
            "$ref": "#/components/parameters/Person2LeagueId"
          },
          {
            "$ref": "#/components/parameters/Person2Season"
          },
          {
            "$ref": "#/components/parameters/Person2SeasonType"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "Person1Id": {
                          "const": "$request.query.Person1Id"
                        },
                        "Person1LeagueId": {
                          "const": "$request.query.Person1LeagueId"
                        },
                        "Person1Season": {
                          "const": "$request.query.Person1Season"
                        },
                        "Person1SeasonType": {
                          "const": "$request.query.Person1SeasonType"
                        },
                        "Person2Id": {
                          "const": "$request.query.Person2Id"
                        },
                        "Person2LeagueId": {
                          "const": "$request.query.Person2LeagueId"
                        },
                        "Person2Season": {
                          "const": "$request.query.Person2Season"
                        },
                        "Person2SeasonType": {
                          "const": "$request.query.Person2SeasonType"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscoresimilarityscore"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/BoxScoreSimilarityScores"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscoresummaryv2": {
      "get": {
        "summary": "BoxScoreSummaryV2",
        "operationId": "BoxScoreSummaryV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameID": {
                          "const": "$request.query.GameID"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscoresummaryv2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/AvailableVideo"
                        },
                        {
                          "$ref": "#/components/schemas/GameInfo"
                        },
                        {
                          "$ref": "#/components/schemas/GameSummary"
                        },
                        {
                          "$ref": "#/components/schemas/InactivePlayers"
                        },
                        {
                          "$ref": "#/components/schemas/LastMeeting"
                        },
                        {
                          "$ref": "#/components/schemas/LineScore"
                        },
                        {
                          "$ref": "#/components/schemas/Officials"
                        },
                        {
                          "$ref": "#/components/schemas/OtherStats"
                        },
                        {
                          "$ref": "#/components/schemas/SeasonSeries"
                        }
                      ],
                      "minItems": 9,
                      "maxItems": 9
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscoretraditionalv2": {
      "get": {
        "summary": "BoxScoreTraditionalV2",
        "operationId": "BoxScoreTraditionalV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EndPeriod"
          },
          {
            "$ref": "#/components/parameters/EndRange"
          },
          {
            "$ref": "#/components/parameters/GameID"
          },
          {
            "$ref": "#/components/parameters/RangeType"
          },
          {
            "$ref": "#/components/parameters/StartPeriod"
          },
          {
            "$ref": "#/components/parameters/StartRange"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "EndPeriod": {
                          "const": "$request.query.EndPeriod"
                        },
                        "EndRange": {
                          "const": "$request.query.EndRange"
                        },
                        "GameID": {
                          "const": "$request.query.GameID"
                        },
                        "RangeType": {
                          "const": "$request.query.RangeType"
                        },
                        "StartPeriod": {
                          "const": "$request.query.StartPeriod"
                        },
                        "StartRange": {
                          "const": "$request.query.StartRange"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscoretraditionalv2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/PlayerStats"
                        },
                        {
                          "$ref": "#/components/schemas/TeamStarterBenchStats"
                        },
                        {
                          "$ref": "#/components/schemas/TeamStats"
                        }
                      ],
                      "minItems": 3,
                      "maxItems": 3
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/boxscoreusagev2": {
      "get": {
        "summary": "BoxScoreUsageV2",
        "operationId": "BoxScoreUsageV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EndPeriod"
          },
          {
            "$ref": "#/components/parameters/EndRange"
          },
          {
            "$ref": "#/components/parameters/GameID"
          },
          {
            "$ref": "#/components/parameters/RangeType"
          },
          {
            "$ref": "#/components/parameters/StartPeriod"
          },
          {
            "$ref": "#/components/parameters/StartRange"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "EndPeriod": {
                          "const": "$request.query.EndPeriod"
                        },
                        "EndRange": {
                          "const": "$request.query.EndRange"
                        },
                        "GameID": {
                          "const": "$request.query.GameID"
                        },
                        "RangeType": {
                          "const": "$request.query.RangeType"
                        },
                        "StartPeriod": {
                          "const": "$request.query.StartPeriod"
                        },
                        "StartRange": {
                          "const": "$request.query.StartRange"
                        }
                      }
                    },
                    "resource": {
                      "const": "boxscoreusagev2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/sqlPlayersUsage"
                        },
                        {
                          "$ref": "#/components/schemas/sqlTeamsUsage"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/commonallplayers": {
      "get": {
        "summary": "CommonAllPlayers",
        "operationId": "CommonAllPlayers",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IsOnlyCurrentSeason"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Season"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "IsOnlyCurrentSeason": {
                          "const": "$request.query.IsOnlyCurrentSeason"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        }
                      }
                    },
                    "resource": {
                      "const": "commonallplayers"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/CommonAllPlayers"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/commonplayerinfo": {
      "get": {
        "summary": "CommonPlayerInfo",
        "operationId": "CommonPlayerInfo",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PlayerID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PlayerID": {
                          "const": "$request.query.PlayerID"
                        }
                      }
                    },
                    "resource": {
                      "const": "commonplayerinfo"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/AvailableSeasons"
                        },
                        {
                          "$ref": "#/components/schemas/CommonPlayerInfo"
                        },
                        {
                          "$ref": "#/components/schemas/PlayerHeadlineStats"
                        }
                      ],
                      "minItems": 3,
                      "maxItems": 3
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/commonplayoffseries": {
      "get": {
        "summary": "CommonPlayoffSeries",
        "operationId": "CommonPlayoffSeries",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeriesID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeriesID": {
                          "const": "$request.query.SeriesID"
                        }
                      }
                    },
                    "resource": {
                      "const": "commonplayoffseries"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/PlayoffSeries"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/commonteamroster": {
      "get": {
        "summary": "CommonTeamRoster",
        "operationId": "CommonTeamRoster",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        }
                      }
                    },
                    "resource": {
                      "const": "commonteamroster"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/Coaches"
                        },
                        {
                          "$ref": "#/components/schemas/CommonTeamRoster"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/commonteamyears": {
      "get": {
        "summary": "CommonTeamYears",
        "operationId": "CommonTeamYears",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        }
                      }
                    },
                    "resource": {
                      "const": "commonteamyears"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/TeamYears"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/cumestatsplayer": {
      "get": {
        "summary": "CumeStatsPlayer",
        "operationId": "CumeStatsPlayer",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameIDs"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PlayerID"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameIDs": {
                          "const": "$request.query.GameIDs"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PlayerID": {
                          "const": "$request.query.PlayerID"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        }
                      }
                    },
                    "resource": {
                      "const": "cumestatsplayer"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/GameByGameStats"
                        },
                        {
                          "$ref": "#/components/schemas/TotalPlayerStats"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/cumestatsplayergames": {
      "get": {
        "summary": "CumeStatsPlayerGames",
        "operationId": "CumeStatsPlayerGames",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Location"
          },
          {
            "$ref": "#/components/parameters/Outcome"
          },
          {
            "$ref": "#/components/parameters/PlayerID"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/VsConference"
          },
          {
            "$ref": "#/components/parameters/VsDivision"
          },
          {
            "$ref": "#/components/parameters/VsTeamID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Location": {
                          "const": "$request.query.Location"
                        },
                        "Outcome": {
                          "const": "$request.query.Outcome"
                        },
                        "PlayerID": {
                          "const": "$request.query.PlayerID"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "VsConference": {
                          "const": "$request.query.VsConference"
                        },
                        "VsDivision": {
                          "const": "$request.query.VsDivision"
                        },
                        "VsTeamID": {
                          "const": "$request.query.VsTeamID"
                        }
                      }
                    },
                    "resource": {
                      "const": "cumestatsplayergames"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/CumeStatsPlayerGames"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/cumestatsteam": {
      "get": {
        "summary": "CumeStatsTeam",
        "operationId": "CumeStatsTeam",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameIDs"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameIDs": {
                          "const": "$request.query.GameIDs"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        }
                      }
                    },
                    "resource": {
                      "const": "cumestatsteam"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/GameByGameStats"
                        },
                        {
                          "$ref": "#/components/schemas/TotalTeamStats"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/cumestatsteamgames": {
      "get": {
        "summary": "CumeStatsTeamGames",
        "operationId": "CumeStatsTeamGames",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Location"
          },
          {
            "$ref": "#/components/parameters/Outcome"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonID"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          },
          {
            "$ref": "#/components/parameters/VsConference"
          },
          {
            "$ref": "#/components/parameters/VsDivision"
          },
          {
            "$ref": "#/components/parameters/VsTeamID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Location": {
                          "const": "$request.query.Location"
                        },
                        "Outcome": {
                          "const": "$request.query.Outcome"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonID": {
                          "const": "$request.query.SeasonID"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        },
                        "VsConference": {
                          "const": "$request.query.VsConference"
                        },
                        "VsDivision": {
                          "const": "$request.query.VsDivision"
                        },
                        "VsTeamID": {
                          "const": "$request.query.VsTeamID"
                        }
                      }
                    },
                    "resource": {
                      "const": "cumestatsteamgames"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/CumeStatsTeamGames"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/defensehub": {
      "get": {
        "summary": "DefenseHub",
        "operationId": "DefenseHub",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameScope"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PlayerOrTeam"
          },
          {
            "$ref": "#/components/parameters/PlayerScope"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameScope": {
                          "const": "$request.query.GameScope"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PlayerOrTeam": {
                          "const": "$request.query.PlayerOrTeam"
                        },
                        "PlayerScope": {
                          "const": "$request.query.PlayerScope"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        }
                      }
                    },
                    "resource": {
                      "const": "defensehub"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/DefenseHubStat1"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat10"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat2"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat3"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat4"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat5"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat6"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat7"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat8"
                        },
                        {
                          "$ref": "#/components/schemas/DefenseHubStat9"
                        }
                      ],
                      "minItems": 10,
                      "maxItems": 10
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/draftboard": {
      "get": {
        "summary": "DraftBoard",
        "operationId": "DraftBoard",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/College"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/OverallPick"
          },
          {
            "$ref": "#/components/parameters/RoundNum"
          },
          {
            "$ref": "#/components/parameters/RoundPick"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          },
          {
            "$ref": "#/components/parameters/TopX"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "College": {
                          "const": "$request.query.College"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "OverallPick": {
                          "const": "$request.query.OverallPick"
                        },
                        "RoundNum": {
                          "const": "$request.query.RoundNum"
                        },
                        "RoundPick": {
                          "const": "$request.query.RoundPick"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        },
                        "TopX": {
                          "const": "$request.query.TopX"
                        }
                      }
                    },
                    "resource": {
                      "const": "draftboard"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/DraftBoard"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/draftcombinedrillresults": {
      "get": {
        "summary": "DraftCombineDrillResults",
        "operationId": "DraftCombineDrillResults",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/SeasonYear"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "SeasonYear": {
                          "const": "$request.query.SeasonYear"
                        }
                      }
                    },
                    "resource": {
                      "const": "draftcombinedrillresults"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/Results"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/draftcombinenonstationaryshooting": {
      "get": {
        "summary": "DraftCombineNonStationaryShooting",
        "operationId": "DraftCombineNonStationaryShooting",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/SeasonYear"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "SeasonYear": {
                          "const": "$request.query.SeasonYear"
                        }
                      }
                    },
                    "resource": {
                      "const": "draftcombinenonstationaryshooting"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/Results"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/draftcombineplayeranthro": {
      "get": {
        "summary": "DraftCombinePlayerAnthro",
        "operationId": "DraftCombinePlayerAnthro",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/SeasonYear"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "SeasonYear": {
                          "const": "$request.query.SeasonYear"
                        }
                      }
                    },
                    "resource": {
                      "const": "draftcombineplayeranthro"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/Results"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/draftcombinespotshooting": {
      "get": {
        "summary": "DraftCombineSpotShooting",
        "operationId": "DraftCombineSpotShooting",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/SeasonYear"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "SeasonYear": {
                          "const": "$request.query.SeasonYear"
                        }
                      }
                    },
                    "resource": {
                      "const": "draftcombinespotshooting"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/Results"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/draftcombinestats": {
      "get": {
        "summary": "DraftCombineStats",
        "operationId": "DraftCombineStats",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/SeasonYear"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "SeasonYear": {
                          "const": "$request.query.SeasonYear"
                        }
                      }
                    },
                    "resource": {
                      "const": "draftcombinestats"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/DraftCombineStats"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/drafthistory": {
      "get": {
        "summary": "DraftHistory",
        "operationId": "DraftHistory",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/College"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/OverallPick"
          },
          {
            "$ref": "#/components/parameters/RoundNum"
          },
          {
            "$ref": "#/components/parameters/RoundPick"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          },
          {
            "$ref": "#/components/parameters/TopX"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "College": {
                          "const": "$request.query.College"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "OverallPick": {
                          "const": "$request.query.OverallPick"
                        },
                        "RoundNum": {
                          "const": "$request.query.RoundNum"
                        },
                        "RoundPick": {
                          "const": "$request.query.RoundPick"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        },
                        "TopX": {
                          "const": "$request.query.TopX"
                        }
                      }
                    },
                    "resource": {
                      "const": "drafthistory"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/DraftHistory"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/fantasywidget": {
      "get": {
        "summary": "FantasyWidget",
        "operationId": "FantasyWidget",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ActivePlayers"
          },
          {
            "$ref": "#/components/parameters/DateFrom"
          },
          {
            "$ref": "#/components/parameters/DateTo"
          },
          {
            "$ref": "#/components/parameters/LastNGames"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/Location"
          },
          {
            "$ref": "#/components/parameters/Month"
          },
          {
            "$ref": "#/components/parameters/OpponentTeamID"
          },
          {
            "$ref": "#/components/parameters/PORound"
          },
          {
            "$ref": "#/components/parameters/PlayerID"
          },
          {
            "$ref": "#/components/parameters/Position"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonSegment"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          },
          {
            "$ref": "#/components/parameters/TodaysOpponent"
          },
          {
            "$ref": "#/components/parameters/TodaysPlayers"
          },
          {
            "$ref": "#/components/parameters/VsConference"
          },
          {
            "$ref": "#/components/parameters/VsDivision"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "ActivePlayers": {
                          "const": "$request.query.ActivePlayers"
                        },
                        "DateFrom": {
                          "const": "$request.query.DateFrom"
                        },
                        "DateTo": {
                          "const": "$request.query.DateTo"
                        },
                        "LastNGames": {
                          "const": "$request.query.LastNGames"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "Location": {
                          "const": "$request.query.Location"
                        },
                        "Month": {
                          "const": "$request.query.Month"
                        },
                        "OpponentTeamID": {
                          "const": "$request.query.OpponentTeamID"
                        },
                        "PORound": {
                          "const": "$request.query.PORound"
                        },
                        "PlayerID": {
                          "const": "$request.query.PlayerID"
                        },
                        "Position": {
                          "const": "$request.query.Position"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonSegment": {
                          "const": "$request.query.SeasonSegment"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        },
                        "TodaysOpponent": {
                          "const": "$request.query.TodaysOpponent"
                        },
                        "TodaysPlayers": {
                          "const": "$request.query.TodaysPlayers"
                        },
                        "VsConference": {
                          "const": "$request.query.VsConference"
                        },
                        "VsDivision": {
                          "const": "$request.query.VsDivision"
                        }
                      }
                    },
                    "resource": {
                      "const": "fantasywidget"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/FantasyWidgetResult"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/franchisehistory": {
      "get": {
        "summary": "FranchiseHistory",
        "operationId": "FranchiseHistory",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        }
                      }
                    },
                    "resource": {
                      "const": "franchisehistory"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/DefunctTeams"
                        },
                        {
                          "$ref": "#/components/schemas/FranchiseHistory"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/franchiseleaders": {
      "get": {
        "summary": "FranchiseLeaders",
        "operationId": "FranchiseLeaders",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        }
                      }
                    },
                    "resource": {
                      "const": "franchiseleaders"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/FranchiseLeaders"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/franchiseplayers": {
      "get": {
        "summary": "FranchisePlayers",
        "operationId": "FranchisePlayers",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PerMode"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/TeamID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PerMode": {
                          "const": "$request.query.PerMode"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "TeamID": {
                          "const": "$request.query.TeamID"
                        }
                      }
                    },
                    "resource": {
                      "const": "franchiseplayers"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/FranchisePlayers"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/glalumboxscoresimilarityscore": {
      "get": {
        "summary": "GLAlumBoxScoreSimilarityScore",
        "operationId": "GLAlumBoxScoreSimilarityScore",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Person1Id"
          },
          {
            "$ref": "#/components/parameters/Person1LeagueId"
          },
          {
            "$ref": "#/components/parameters/Person1Season"
          },
          {
            "$ref": "#/components/parameters/Person1SeasonType"
          },
          {
            "$ref": "#/components/parameters/Person2Id"
          },
          {
            "$ref": "#/components/parameters/Person2LeagueId"
          },
          {
            "$ref": "#/components/parameters/Person2Season"
          },
          {
            "$ref": "#/components/parameters/Person2SeasonType"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "Person1Id": {
                          "const": "$request.query.Person1Id"
                        },
                        "Person1LeagueId": {
                          "const": "$request.query.Person1LeagueId"
                        },
                        "Person1Season": {
                          "const": "$request.query.Person1Season"
                        },
                        "Person1SeasonType": {
                          "const": "$request.query.Person1SeasonType"
                        },
                        "Person2Id": {
                          "const": "$request.query.Person2Id"
                        },
                        "Person2LeagueId": {
                          "const": "$request.query.Person2LeagueId"
                        },
                        "Person2Season": {
                          "const": "$request.query.Person2Season"
                        },
                        "Person2SeasonType": {
                          "const": "$request.query.Person2SeasonType"
                        }
                      }
                    },
                    "resource": {
                      "const": "glalumboxscoresimilarityscore"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/GLeagueAlumBoxScoreSimilarityScores"
                        }
                      ],
                      "minItems": 1,
                      "maxItems": 1
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/gamerotation": {
      "get": {
        "summary": "GameRotation",
        "operationId": "GameRotation",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameID"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameID": {
                          "const": "$request.query.GameID"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        }
                      }
                    },
                    "resource": {
                      "const": "gamerotation"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/AwayTeam"
                        },
                        {
                          "$ref": "#/components/schemas/HomeTeam-2"
                        }
                      ],
                      "minItems": 2,
                      "maxItems": 2
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/homepageleaders": {
      "get": {
        "summary": "HomePageLeaders",
        "operationId": "HomePageLeaders",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameScope"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PlayerOrTeam"
          },
          {
            "$ref": "#/components/parameters/PlayerScope"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/StatCategory"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameScope": {
                          "const": "$request.query.GameScope"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PlayerOrTeam": {
                          "const": "$request.query.PlayerOrTeam"
                        },
                        "PlayerScope": {
                          "const": "$request.query.PlayerScope"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "StatCategory": {
                          "const": "$request.query.StatCategory"
                        }
                      }
                    },
                    "resource": {
                      "const": "homepageleaders"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/HomePageLeaders"
                        },
                        {
                          "$ref": "#/components/schemas/LeagueAverage"
                        },
                        {
                          "$ref": "#/components/schemas/LeagueMax"
                        }
                      ],
                      "minItems": 3,
                      "maxItems": 3
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/homepagev2": {
      "get": {
        "summary": "HomePageV2",
        "operationId": "HomePageV2",
        "description": "[to do]",
        "security": [],
        "tags": [
          "nba",
          "wnba"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GameScope"
          },
          {
            "$ref": "#/components/parameters/LeagueID"
          },
          {
            "$ref": "#/components/parameters/PlayerOrTeam"
          },
          {
            "$ref": "#/components/parameters/PlayerScope"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "$ref": "#/components/parameters/SeasonType"
          },
          {
            "$ref": "#/components/parameters/StatType"
          }
        ],
        "responses": {
          "200": {
            "description": "[to do]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "GameScope": {
                          "const": "$request.query.GameScope"
                        },
                        "LeagueID": {
                          "const": "$request.query.LeagueID"
                        },
                        "PlayerOrTeam": {
                          "const": "$request.query.PlayerOrTeam"
                        },
                        "PlayerScope": {
                          "const": "$request.query.PlayerScope"
                        },
                        "Season": {
                          "const": "$request.query.Season"
                        },
                        "SeasonType": {
                          "const": "$request.query.SeasonType"
                        },
                        "StatType": {
                          "const": "$request.query.StatType"
                        }
                      }
                    },
                    "resource": {
                      "const": "homepagev2"
                    },
                    "resultSets": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "$ref": "#/components/schemas/HomePageStat1"
                        },
                        {
                          "$ref": "#/components/schemas/HomePageStat2"
                        },
                        {
                          "$ref": "#/components/schemas/HomePageStat3"
                        },
                        {
                          "$ref": "#/components/schemas/HomePageStat4"
                        },
                        {
                          "$ref": "#/components/schemas/HomePageStat5"
                        },
                        {
                          "$ref": "#/components/schemas/HomePageStat6"
                        },
                        {
                          "$ref": "#/components/schemas/HomePageStat7"
                        },
                        {
                          "$ref": "#/components/schemas/HomePageStat8"
                        }
                      ],
                      "minItems": 8,
                      "maxItems": 8
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "[to do]"
          }
        }
      }
    },
    "/hustlestatsboxscore": {
      "get": {
        "summary": "HustleStatsBoxScore",
[...]
